* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sketch-pad {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.sketch-square {
    height: 50px;
    background-color: rgba(211, 211, 211, 0.3);
    border: gray solid 1px;
    flex-basis: 50px;
}